/* body{
    background-color: aqua;
}

.product_sect{
    height: fit-content;
    width: 50%;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0px 2px 5px black;
}

.pro_img{
    height: 100px;
}

#show-more{
    color:;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    background: transparent;

} */

.btn{
    border: none;
    height: 80px;
    width: 80px;
    margin: auto;
    border-radius: 20%;
    background-color: black;
    color: white;
    transition: all 1s linear;
    font-size: larger;
}

.button{
    border: none;
    height: 80px;
    width: 80px;
    margin: auto;
    border-radius: 50%;
    background-color: white;
    color: black;
    transition: all 1s ease-in;
    font-size: larger;
}

.light{
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s linear;
}

.black{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s linear;
}